body {
    background-color: #001;
    color: #ffd;
}

.container {
    align-content: center;
}

h1 {
    text-align: center;
}

#image {
    text-align: center;
    width: 800px;
    height: 400px;
}
